/* Footer Styles */
footer {
  position: fixed;
  bottom: 2rem;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  justify-content: space-between;
  color: #f3f3de;
  font-weight: 600;
}

#open-credits {
  color: #f3f3de;
  cursor: pointer;
}

#open-credits a:hover {
  color: #ffc7ff;
}

@media screen and (orientation: portrait) {
  footer {
    font-size: 4rem;
  }
}