/* Game Selector and Results Panel Styles */

/* Popup for game selector and results panels */
.popup {
  position: fixed;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0A1247;
  border: 3px solid #446DF6;
  z-index: 1;
  text-align: center;
}

#game-mode {
  grid-area: gm;
}

#difficulty-mode {
  grid-area: dm;
}

#game-mode,
#difficulty-mode {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#game-selector input[type="radio"] {
  display: none;
}

#game-selector img {
  height: 100%;
  width: 100%;
}

#game-selector input[type="radio"] + label {
  cursor: pointer;
  width: 23%;
  box-sizing: border-box;
}

#game-selector input + label:hover {
  border: 3px solid #446DF6;
}

#game-selector input:checked + label {
  border: 3px solid #446DF6;
}

#difficulty-mode .disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled + label {
  pointer-events: none;
  opacity: 0.5;
}

#go-button {
  height: 4rem;
  width: 10rem;
  margin-bottom: 10px;
  background-color: green;
  font-size: 3rem;
  grid-area: bt;
}

#results-container {
  /* Initially hidden until results are displayed */
  visibility: hidden;
  box-sizing: border-box;
}

#results-display {
  display: grid;
  grid-template-rows: 4rem 14rem 6rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

#results {
  justify-self: center;
  display: grid;
  position: relative;
  width: 95%;
  height: 2rem;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
}

#results img {
  width: 100%;
}

#score {
  justify-self: center;
  display: flex;
  align-items: center;
  color: white;
  height: 14rem;
  font-size: 10rem;
}

#ok-button {
  justify-self: center;
  height: 4rem;
  width: 10rem;
  background-color: green;
  font-size: 3rem;
}

/* Credits Styles */
#credits {
  color: white;
  font-size: 20px;
}

a,
a:visited,
#close-credits {
  color: #cb06f7;
  cursor: pointer;
}

a:hover,
#close-credits:hover {
  color: #cb7ddd;
}

@media screen and (orientation: portrait) {
  .popup {
    width: 90%;
    height: 70vh;
  }
  
  #game-selector {
    display: grid;
    grid-template-areas: "gm dm"
                         "gm dm"
                         "gm dm"
                         "gm dm"
                         "gm dm"
                         "bt bt";
  }

  #game-mode,
  #difficulty-mode {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 80%;
    width: 90%;
    border: 1px solid #446DF6;
  }

  #game-selector input[type="radio"] + label {
    width: 50%;
    margin: auto;
  }

  #go-button,
  #ok-button {
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 60%;
    font-size: 7.5rem;
  }

  #results-container {
    height: 70%;
    display: flex;
    align-items: center;
  }

  #results-display {
    height: 90%;
    width: 100%;
    grid-template-rows: 35% 40% 25%;
  }

  #results {
    height: 8rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }

  #score {
    font-size: 20rem;
    align-self: center;
  }

  /* Reverts credits height to normal size in portrait mode */
  #credits{
    height: auto;
  }
}