/* Univeral Styles */
body {
  background-color: #0A1247;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #446DF6;
  text-align: center;
  font-size: 9rem;
  line-height: 0%;
}

main {
  width: 100%;
}

/* Game Selector and Results Panel Styles */
/* Popup for game selector and results panels */
.popup {
  position: fixed;
  width: 1000px;
  height: 700px;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0A1247;
  border: 3px solid #446DF6;
  z-index: 1;
  text-align: center;
}

/* For hiding game selector and results panels */
.hide {
  display: none;
}

#game-selector div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#game-selector input[type="radio"] {
  display: none;
}

#game-selector img {
  height: 250px;
  width: 250px;
}

#game-selector input[type="radio"] + label {
  cursor: pointer;
}

#game-selector input + label:hover {
  border: 3px solid #446DF6;
}

#game-selector input:checked + label {
  border: 3px solid #446DF6;
}

#difficulty-mode .disabled {
  pointer-events:none;
  opacity:0.5;
}

.disabled + label {
  pointer-events: none;
  opacity: 0.5;
}

#go-button,
#ok-button {
  height: 100px;
  width: 250px;
  background-color: green;
  font-size: 5rem;
}

#score {
  color: white;
  font-size: 4rem;
}


/* Game and Game Control Styles */
#game-container {
  display: grid;
  width: 1000px;
  grid-template-columns: 300px 600px;
  gap: 100px;
  margin: auto;
}

#button-pad {
  display: grid;
  grid-template: repeat(5, 100px) / repeat(3, 100px);
}

button {
  border-radius: 12px;
  cursor: pointer;
}

#clear {
  grid-column-start: span 2;
  font-size: 1.5rem;
  background-color: red;
}

#clear:hover {
  background-color: rgb(172, 2, 2);
}

#enter {
  grid-column-start: span 3;
  font-size: 1.5rem;
  background-color: green;
}

#enter:hover {
  background-color: rgb(0, 94, 0);
}

button.number-btn {
  font-size: 2.5rem;
  background-color: #446DF6;
}

.number-btn:hover {
  background-color: #2e4cad
}

#problem-and-input {
  display: grid;
  grid-template-rows: 200px;
  gap: 100px;
  color: white;
  font-size: 8rem;
  line-height: 12rem;
}

#problem-panel {
  position: relative;
  height: 100%;
  border: solid 3px white;
  box-sizing: border-box;
  text-align: center;
}

#input-panel {
  position: relative;
  background-color: #446DF6;
  text-align: end;
  height: 100%;
  width: 100%;
  padding-right: 1rem;
  box-sizing: border-box;
}

#quit {
  position: relative;
  background-color: red;
  font-size: 2rem;
}

/* Footer Styles */
footer {
  position: relative;
  top: 200px;
  color: #446DF6;
}