/* Import other style sheets */
@import "popups.css";
@import "game-controls.css";
@import "footer.css";

/* Fonts */
@font-face {
  font-family: sister;
  src: url(../fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf);
}

@font-face {
  font-family: sniglet;
  src: url(../fonts/Sniglet/Sniglet-Regular.ttf);
}

/* Univeral Styles */
html {
  height: 100vh;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #000000;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 18, 71, 80%);
  background-size: cover;
}

h1 {
  color: #446DF6;
  margin: 0;
  text-align: center;
  font-family: sister, Helvetica, sans-serif;
  font-size: 8rem;
}

main {
  width: 100%;
}

button {
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: sniglet, Arial, sans-serif;
  color: inherit;
  padding: 0;
  /* Disable text selection in buttons for touch devices */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Disable double-tap zoom for touch devices */
  touch-action: manipulation;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;  
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;  
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;  
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 11px;  
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 10px;  
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 9px;  
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;  
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;  
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 6px;  
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 5px;  
  }
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 10rem;
  }
  
  button {
    border-radius: 1.5rem;
  }
}