/* Fonts */
@font-face {
  font-family: sister;
  src: url(../fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf);
}

@font-face {
  font-family: sniglet;
  src: url(../fonts/Sniglet/Sniglet-Regular.ttf);
}

/* Univeral Styles */
html {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: black;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 18, 71, 80%);
  background-size: cover;
}

h1 {
  color: #446DF6;
  margin: 0;
  text-align: center;
  font-family: sister, Helvetica, sans-serif;
  font-size: 8rem;
}

main {
  width: 100%;
}

button {
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: sniglet, Arial, sans-serif;
  /* Disable text selection in buttons for touch devices */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;  
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;  
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;  
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 11px;  
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 10px;  
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 9px;  
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;  
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;  
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 6px;  
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 5px;  
  }
}

@media screen and (orientation: portrait) {
  button {
    border-radius: 1.5rem;
  }
}

/* Game Selector and Results Panel Styles */

/* Popup for game selector and results panels */
.popup {
  position: fixed;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0A1247;
  border: 3px solid #446DF6;
  z-index: 1;
  text-align: center;
}

#game-mode {
  grid-area: gm;
}

#difficulty-mode {
  grid-area: dm;
}

#game-mode,
#difficulty-mode {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#game-selector input[type="radio"] {
  display: none;
}

#game-selector img {
  height: 100%;
  width: 100%;
}

#game-selector input[type="radio"] + label {
  cursor: pointer;
  width: 23%;
  box-sizing: border-box;
}

#game-selector input + label:hover {
  border: 3px solid #446DF6;
}

#game-selector input:checked + label {
  border: 3px solid #446DF6;
}

#difficulty-mode .disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled + label {
  pointer-events: none;
  opacity: 0.5;
}

#go-button {
  height: 4rem;
  width: 10rem;
  margin-bottom: 10px;
  background-color: green;
  font-size: 3rem;
  grid-area: bt;
}

#results-container {
  /* Initially hidden until results are displayed */
  visibility: hidden;
  box-sizing: border-box;
}

#results-display {
  display: grid;
  grid-template-rows: 4rem 14rem 6rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

#results {
  justify-self: center;
  display: grid;
  position: relative;
  width: 95%;
  height: 2rem;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
}

#results img {
  width: 100%;
}

#score {
  justify-self: center;
  display: flex;
  align-items: center;
  color: white;
  height: 14rem;
  font-size: 10rem;
}

#ok-button {
  justify-self: center;
  height: 4rem;
  width: 10rem;
  background-color: green;
  font-size: 3rem;
}

@media screen and (orientation: portrait) {
  .popup {
    width: 90%;
  }
  
  #game-selector {
    display: grid;
    grid-template-areas: "gm dm"
                         "bt bt";
  }
  
  #game-mode,
  #difficulty-mode {
    flex-direction: column;
    align-items: center;
    border: 1px solid #446DF6;
  }

  #game-selector input[type="radio"] + label {
    width: 70%
  }

  #go-button,
  #ok-button {
    justify-self: center;
    height: 6rem;
    width: 14rem;
    font-size: 4rem;
  }

  #results-display {
    grid-template-rows: 8rem 14rem 6rem;
  }

  #results {
    height: 8rem;
    grid-template-rows: repeat(2, 1 fr);
    grid-template-columns: repeat(5, 1fr);
  }

  #score {
    /* Make room for two rows of result images */
    margin-top: 4rem;
  }
}

/* Game and Game Control Styles */
#game-container {
  display: grid;
  width: 60%;
  grid-template-columns: 2fr 3fr;
  gap: 0.5rem;
  margin: auto;
  /* Initially hidden until game starts */
  visibility: hidden;
}

#button-pad {
  display: grid;
  grid-template: repeat(5, 5rem) / repeat(3, 5rem);
}

#clear {
  grid-column-start: span 2;
  font-size: 1.5rem;
  background-color: red;
}

#clear:hover {
  background-color: rgb(172, 2, 2);
}

#enter {
  grid-column-start: span 3;
  font-size: 1.5rem;
  background-color: green;
}

#enter:hover {
  background-color: rgb(0, 94, 0);
}

button.number-btn {
  font-size: 3rem;
  background-color: #446DF6;
}

.number-btn:hover {
  background-color: #2e4cad
}

#problem-and-input {
  display: grid;
  max-width: 100%;
  grid-template-rows: 33.3%;
  gap: 33.3%;
  color: white;
}

#problem-panel {
  position: relative;
  display: flex;
  background-color: #0A1247;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 3px white;
  box-sizing: border-box;
}

#input-panel {
  position: relative;
  background-color: #446DF6;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  width: 100%;
  font-size: 7rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

#quit {
  grid-column: 2;
  width: 30%;
  justify-self: end;
  background-color: red;
  font-size: 2rem;
}

@media screen and (orientation: portrait) {
  #game-container {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-areas : "a"
                          "b"
                          "c";
  }

  #problem-and-input {
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-area: a;
  }

  #problem-panel {
    height: 12rem;
  }

  #input-panel {
    height: 12rem;
    justify-content: center;
  }

  #button-pad {
    grid-area: b;
    grid-template: repeat(5, 18rem) / repeat(3, 18rem);
    justify-self: center;
  }

  #button-pad button {
    font-size: 10rem;
  }

  #quit {
    grid-area: c;
    height: 6rem;
    font-size: 4rem;
  }
}

/* Footer Styles */
footer {
  display: flex;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  justify-content: space-between;
  color: #f3f3de;
  font-weight: 600;
}

footer a,
footer a:visited {
  color: #f3f3de;
}

footer a:hover {
  color: #ffc7ff;
}

@media screen and (orientation: portrait) {
  footer {
    font-size: 4rem;
  }
}

/* Credits Styles */
#credits {
  position: relative;
  width: 90%;
  margin: auto;
  background-color: #0A1247;
  border: 3px solid #2e4cad;
}

a,
a:visited {
  color: #f3f3de;
}

a:hover {
  color: #ffc7ff;
}